.content--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 96%;
    height: 11.6vh;
    background-color: #f8f9fa;
    border-bottom: 1px solid #CAC8C5;
}

.header--title {
    padding-left: 20px;
    font-size: 1.5rem;
    margin: 0;
    flex-grow: 1;
}

.header--icons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.icon {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.icon:hover {
    color: #007bff;
}
