.card-container {

    display: flex;
    justify-content: center;
    align-items: center;

}

.card {

    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.table-container {

    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {

    color: #51CBCE;
    padding-right: 2px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

td {

    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.actions {

    display: flex;
}

.actions span {

    cursor: pointer;
    margin-right: 10px;
}

.actions span:last-child {
    margin-right: 0;
}

.icon-pencil {
    color: #32B711;
    font-size: 20px;
    cursor: pointer;
}

.icon-pencil-1 {
    color: #BA1515;
    font-size: 20px;
    cursor: pointer;
}

.fa-print {
    color: #32B711;
}

.icon-pencil:hover {
    color: #92ec7b;
}

.icon-pencil-1:hover {
    color: #ee5959;
}

.fa-trash {
    color: #D80D0D;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;

}

.search-input {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    position: absolute;
    right: 20px;
    color: #000000;
    pointer-events: none;
}


.search-input input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}

.view-orders{
    color: #51CBCE;
    cursor: pointer;
}

.floating-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.card-content {
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
