.card-container {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {

    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%; 
}
.floating-card label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}
.table-container {

    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
}
.actions {

    display: flex;
}

.actions span {

    cursor: pointer;
    margin-right: 10px;
}

.actions span:last-child {
    margin-right: 0; 
}


.fa-print {
    color: #32B711; 
}

.fa-trash {
    color: #D80D0D; 
}
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    
}

.search-input {
    display: flex;
    align-items: center;
    position: relative; 
}

.search-icon {
    position: absolute;
    right: 20px; 
    color: #000000; 
    pointer-events: none; 
}


.search-input input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px; 
}

.add-options {
    display: flex;
    align-items: center;
}

.add-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #D9D9D9; 
    color: #000000; 
    padding: 5px 10px; 
    border-radius: 5px; 
    margin-right: 10px; 
}

.add-option:last-child {
    margin-right: 0; 
}

.add-option .add-icon {
    margin-right: 5px; 
}
.floating-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
    border: 1px solid black; /* Borde negro */

}

.floating-card h3 {
    margin-top: 0;
}

.floating-card input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.floating-card button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.floating-card button:last-child {
    margin-right: 0;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}
.floating-card .form-group {
    margin-bottom: 15px;
}
.floating-card input[type="text"],
.floating-card input[type="file"],
.floating-card input[type="number"],
.floating-card select {
    width: calc(100% - 20px); /* Ajuste para mantener un pequeño padding interno */
    max-width: 350px; /* Un máximo ancho para que no sea demasiado grande */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.button_danger{
    background-color: red;
}
.button_primary{
    background-color:#32B711;
}
/* Contenedor para los inputs de precio y stock */
.floating-card .price-stock-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
}

/* Asegura que los inputs de precio y stock se alineen uno al lado del otro */
.floating-card .form-group-half {
    width: calc(50% - 10px); /* Ajusta para un pequeño espacio entre ellos */
}
.pagination-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: auto;
  }
  
  .pagination-button {
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .pagination-button:first-child {
    margin-right: 20px;
  }
  
  .pagination-button:last-child {
    margin-left: 20px;
  }
  .floating-card img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
}
.product-name {
    cursor: pointer;
}
