.info-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 80px;
    box-shadow: -8px 0px 0 rgba(121, 245, 78, 1); 
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    
}
.reset-button:hover {
    background-color: #51CBCE;
}
.back-to-login-link {
    margin-top: 15px;
    color: #51CBCE;
    text-decoration: none;
    display: block;
    text-align: center;
}
.back-to-login-link:hover {
    text-decoration: underline;
}
