.dashboard {
  display: flex;
  height: 96vh;
}

.dashboard--main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dashboard--content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f2f5;
  overflow-y: auto;
}
