.dashboard {
  display: flex;
  height: 94vh;
}

.sidebar {
  width: 250px; /* Ajusta este valor según sea necesario */
  background-color: #fff; /* Ajusta según el diseño */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.dashboard--main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dashboard--content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f2f5;
  overflow-y: auto;
}

/* Estilos adicionales para alinear los elementos del Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f2f5;
  border-bottom: 1px solid #CAC8C5;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header img {
  width: 35px;
  height: 35px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}
